<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-secondary">
        <a class="navbar-brand" routerLink="#">Home</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="customers">Customers </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="company">Company</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" routerLink="template">Template</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" routerLink="reactive">Reactive</a>
                </li>
               
            </ul>
           
        </div>
    </nav>
    
</body>
</html>