<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Router</title>
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" routerLink="sublayer1">Sublayer1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="sublayer2">Sublayer2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="sublayer3">Sublayer3</a>
        </li>
        
        
    </ul>
    
</body>
</html>
<router-outlet></router-outlet>