<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Router</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" routerLink="#">Router</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="layer1">Layer1 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="layer2">Layer2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="layer3">Layer3</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" routerLink="databinding">Data-Binding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="twoway">Two-Way</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="empdetails">Employee Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="productdetails">Product Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="template">Template</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="reactive">Reactive</a>
                </li>
               
            </ul>
           
        </div>
    </nav>
    
</body>
</html>