<div class="alert alert-success" *ngIf='success'>{{success}}</div>
<div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>

<form #addDoctor='ngForm' (ngSubmit)='doctor(addDoctor)' class="container-fluid bg-light"  >
    <br><br><br><br>
    <h1 class="text-dark">Update Doctor Details</h1><br>
    <div class="d-flex align-items-end h-90">
        <div class="col-md-2"></div>
        <div class="col-md-4 card1">
            <div class="form-group">
                <label for="doctorId">Your Id</label>
                <input type="text" name="doctorId" id="doctorId" #doctorId='ngModel'
                    [(ngModel)]='this.bookMyDoc.patientsId' class="form-control" readonly>
                
            </div>
            <div class="form-group">
                <label for="doctorName">Your Name</label>
                <input type="text" name="doctorName" id="doctorName" #doctorName='ngModel'
                    [(ngModel)]='this.bookMyDoc.doctorName' class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="doctorImage">Profile Picture link</label>
                <input type="text" name="doctorImage" id="doctorImage" #doctorImage='ngModel' class="form-control"
                    ngModel required>
            </div>
            <div class="form-group">
                <div>
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender" class="form-control" #gender='ngModel' ngModel required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>

                </div>
                <div *ngIf='gender.touched && gender.invalid'>
                    <div class="alert alert-danger" *ngIf='gender.errors.required'>
                        *This field is mandatory
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="specialization">Specialization</label>
                <select name="specialization" id="specialization" #specilization='ngModel' ngModel class="form-control"
                    required>
                    <option value="#">select specialization</option>
                    <option value="audiology">Audiology</option>
                    <option value="cardiology">Cardiology</option>
                    <option value="chemical pathology">Chemical Pathology</option>
                    <option value="dentistry">Dentistry</option>
                    <option value="diabetology">Diabetology</option>
                    <option value="neurology">Neurology</option>
                    <option value="pediatrics">Pediatrics</option>
                </select>
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" name="age" id="age" #age='ngModel' ngModel class="form-control" required
                    placeholder="Enter doctor Age" minlength="1" maxlength="2" pattern="[0-9]+">
                <div *ngIf='age.touched && age.invalid'>
                    <div class="alert alert-danger" *ngIf='age.errors.required'>
                        This field is mandatory
                    </div>
                    <div class="alert alert-danger" *ngIf='age.errors.minlength'>
                        *minimum 1 digit
                    </div>
                    <div class="alert alert-danger" *ngIf='age.errors.maxlength'>
                        *maximum 2 digits
                    </div>
                    <div class="alert alert-danger" *ngIf='age.errors.pattern'>
                        *Enter digits only
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" name="phoneNumber" id="phoneNumber" #phoneNumber='ngModel' ngModel
                    class="form-control" required placeholder="Enter phone Number" maxlength="10" minlength="10"
                    pattern="(0/91)?[7-9][0-9]{9}">
                <div *ngIf='phoneNumber.touched && phoneNumber.invalid'>
                    <div class="alert alert-danger" *ngIf='phoneNumber.errors.required'>
                        This field is mandatory
                    </div>
                    <div class="alert alert-danger" *ngIf='phoneNumber.errors.minlength'>
                        *minimum 10 letters are mandatory
                    </div>
                    <div class="alert alert-danger" *ngIf='phoneNumber.errors.minlength'>
                        *maximum 10 letters are allowed
                    </div>
                    <div class="alert alert-danger" *ngIf='phoneNumber.errors.pattern'>
                        *Only Numbers are allowed
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card2 bg-info" >

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" #email='ngModel'
                    [(ngModel)]='this.bookMyDoc.doctorEmail' class="form-control" readonly>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="language1">Language you speak</label>
                    <select name="language1" id="language1" #language1='ngModel' ngModel class="form-control" required
                        placeholder="primary language">
                        <option value="english">English</option>
                        <option value="hindi">Hindi</option>
                        <option value="hindi">Telgu</option>
                        <option value="hindi">Malyali</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="language2" id="language2" #language2='ngModel' ngModel class="form-control"
                        placeholder="secondary language">
                        <option value="kannada">Kannada</option>
                        <option value="tamil">Tamil</option>
                    </select>
                </div>
                <label for="city">City</label>
                <select name="city" id="city" #city='ngModel' ngModel class="form-control">
                    <option value="bangalore">Bangalore</option>
                    <option value="hydrabad">Hydrabad</option>
                    <option value="pune">Pune</option>
                    <option value="mumbai">Mumbai</option>
                    <option value="chennai">Chennai</option>
                </select>
            </div>
            <div class="form-group">
                <label for="homeAddress">Home Address</label>
                <input type="text" name="homeAddress" id="homeAddress" #homeAddress='ngModel' ngModel
                    class="form-control" required>
            </div>
            <div class="form-group">
                <label for="officeAddress">Office Address</label>
                <input type="text" name="officeAddress" id="officeAddress" #officeAddress='ngModel' ngModel
                    class="form-control" required>
            </div>
            <div>
                <br>
                <button type="submit" class="btn btn-dark btn-block">
                    Submit
                </button><br>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div> <br>
</form>