<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jdbcapp/src/com/capgemini/common/jdbc/PreparedInsert.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.capgemini.common.jdbc.PreparedInsert"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="25&#13;&#10;'gggg'&#13;&#10;5&#13;&#10;600"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jdbcapp"/>
</launchConfiguration>
