.bg-image{
    /* background: url('https://cdn.pixabay.com/photo/2017/03/14/03/20/nurse-2141808_960_720.jpg'); */
    /* background: url('https://cdn.pixabay.com/photo/2016/01/19/15/05/doctor-1149149_1280.jpg'); */
    background: url('https://blog.evisit.com/hs-fs/hubfs/Stock%20images/Unrecognizable%20male%20doctor%20with%20stethoscope%20working%20with%20virtual%20screen%20panel.jpeg?width=887&name=Unrecognizable%20male%20doctor%20with%20stethoscope%20working%20with%20virtual%20screen%20panel.jpeg');
    background-size: cover;
}
.container-fluid{
    height: 100%;
    align-content: center;
    
}
.h-100{
    height: -webkit-fill-available !important;
}
.mt-4{
    margin-top: 17% !important;
    margin-left: 10% !important;
}
.mt{
    margin-top: -200px !important;
}
.mr{
    margin-top: -170px !important;

}
.display-3{
    font-size: 1.5rem !important;
    padding: 4px;
}
.mt-2{
    margin-top: 5% !important;
}
.man{
    margin-left: 45%;
    margin-top: 25%;
}
.margin{
    margin-top: 10%;
    margin-left: 20%;
}
.my-select {
    /* background-color: rgb(0, 255, 106); */
    color: black;
    border: 0 none;
    border-radius: 20px;
    padding: 6px 20px;
    width: 500%;
  }
.ml-4{
    margin-left: 12% !important;
}
.display{
    font-size: 2.5rem;
}
.card-body, .card{
    background-color: rgba(0, 0, 0, 0) !important;
    width: 100%;
    height: 50%;
    border: none;
}
.map {
    position: relative;
    bottom: 126px;
    background-image: url('http://demo.bookmydoc.in/assets/images/home/map.png');
    height: 409px;
    background-repeat: no-repeat;
}
.btn-block{
    width: 10rem !important;
    padding: 6px 20px !important;
    border-radius: 20px !important;
    margin-top: -16px !important;
}

