<div class="container-fluid bg-image">
    <div class="d-flex align-items-center h-100">
        <div class="card card-primary col-md-6">
            <div class="card-body float-left">
                <span class="display" style="font-family: 'BioRhyme', serif;">Keep Your</span>
                <h4 class="card-title display-4 font-weight-bold text-success" style="font-family: 'BioRhyme', serif;">Family More Healthy</h4>
                <p class="card-text" style="font-family: 'BioRhyme', serif;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sequi odit,<br>
                    facilis cumque reiciendis dicta laboriosam non deleniti aperiam sed. <br>
                    facilis cumque reiciendis dicta laboriosam non deleniti aperiam sed.</p>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3 mr">
            <div class="display-3 " style="font-family: 'BioRhyme', serif;">Search for your doctor here!</div>
            <div class="input-group">
                <select class="custom-select my-select" style="font-family: 'BioRhyme', serif;" id="inputGroupSelect04" name="city" #city>
                    <option value="#">select city</option>
                    <option value="bangalore">Bangalore</option>
                    <option value="hydrabad">Hyderabad</option>
                    <option value="pune">Pune</option>
                    <option value="mumbai">Mumbai</option>
                    <option value="chennai">Chennai</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-secondary" (click)='search(city)' type="button">Go...</button>
                </div>
            </div>
            <div class="display-4 text-center" style="font-family: 'BioRhyme', serif;"></div>
            <!-- <div class="input-group">
                <select class="custom-select my-select" id="inputGroupSelect04" style="font-family: 'BioRhyme', serif;" name="specialization" #specialization>
                    <option value="#">select specialization</option>
                    <option value="audiology">Audiology</option>
                    <option value="cardiology">Cardiology</option>
                    <option value="chemical pathology">Chemical Pathology</option>
                    <option value="dentistry">Dentistry</option>
                    <option value="diabetology">Diabetology</option>
                    <option value="neurology">Neurology</option>
                    <option value="pediatrics">Pediatrics</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-secondary" (click)='search(specialization)'
                        type="button">Go...</button>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="container-fluid mt">
    <div class="h-90 map">
        <div class="man">
            <img src="http://demo.bookmydoc.in/assets/images/home/man.png" class="img-responsive animated fadeInDown"
                alt="">
        </div>
        <div class="margin card">
            <h3 class="text-success ml-4" style="font-family: 'BioRhyme', serif;">HEALTHCARE AT YOUR DEMAND !</h3>
            <h4>Find a nearby doctor or dentist and book an appointment instantly. And it's free !</h4>
        </div>
    </div>

</div>
<div>

</div>