<div class="alert alert-success" *ngIf='success'>{{success}}</div>
<div class="alert alert-failure" *ngIf='failure'>{{failure}}</div>
<div class="container mt-3">
        <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th >Patient Name</th>
                    <th >Age</th>
                    <th >Disease Symptoms</th>
                    <th >Approval</th>
                    <th >patientId</th>
                    <th >Action</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let appointment of appointments'>
                    
                    <td>{{appointment.patientName}}</td>
                    <td>{{appointment.age}}</td>
                    <td>{{appointment.diseaseSymptoms}}</td>
                    <td>{{appointment.approval}}</td>
                    <td>{{appointment.patientId}}</td>
                    <td><button class="btn btn-outline-danger"(click) = 'deleteAppointment(appointment)'>Delete</button></td>
                  </tr>
                </tbody>
              </table>
</div>
        
      


