<footer>
    <div class="container">
        <br><br><br><br><br><br><br><br>
        <div class="card text-left">
          <img class="card-img-top" src="https://media.themeslide.com/2017/05/08105825/book20my20doc_header.png" alt="">
          <div class="card-body">
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="footer-text">
                    <h3>OUR LOCATION</h3>
                    <p>Make appointments on the go, right from your smartphone, with our top-rated mobile app</p>
                    <h6><span><i class="fa fa-envelope"></i> </span>By E-mail: info@Bookmydoc.com </h6>
                    <h6><span><i class="fa fa-phone"></i> </span>By Phone: 9876543219</h6>
                    <h6><span><i class="fa fa-map-marker"></i> </span>Address: 121, Park Street, Doctor City, India</h6>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="footer-text ">
                    <h3>How It Works ?</h3>
                    <ul>
                        <li>How Bookmydoc Works</li>
                        <li>Bookmydoc in Safety</li>
                        <li>Terms &amp; Conditions</li>
                        <li>Contact Us</li>
                        <li>Policies</li>
                        <li>Faqs</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix hidden-lg hidden-md hidden-sm"></div>
            <div class="col-lg-3 col-xs-6">
                <div class="footer-text">
                    <h3>About Us</h3>
                    <ul>
                        <li>Bookmydoc For Business</li>
                        <li>Bookmydoc Premium</li>
                        <li>Careers@Bookmydoc</li>
                        <li>Equipe Bookmydoc </li>
                        <li>Bookmydoc Blog</li>
                        <li>Support</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- <div class="footer-text last-footer-text">
                    <h3>Cities</h3>
                    <ul>
                        <a routerLink="">
                            <li class="navbar-link">Chennai</li>
                        </a>
                        <a routerLink="">
                            <li>Bengaluru</li>
                        </a>
                        <a routerLink="">
                            <li>Kolkata</li>
                        </a>
                        <a routerLink="">
                            <li>Mumbai</li>
                        </a>
                        <a routerLink="">
                            <li>Hyderabad</li>
                        </a>
                        <a routerLink="http://demo.bookmydoc.in/Doctor/Search/7">
                            <li>Pune</li>
                        </a>

                    </ul>
                </div> -->
            </div>

            <div class="col-lg-12">
                <div class="copy-right">
                    <h4>Copyright © 2019-2020 Techware Solution.</h4> All rights reserved.
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</footer>