<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                           integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
     <nav class="navbar navbar-expand-sm navbar-light bg-success">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Welcome </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/reusable">Reusable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about-home">AboutHome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/data-binding">Data Binding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/twoway">Two-Data Binding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/directives">Directives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/userdetails">User Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/template">Template Driven Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Template Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/reactive">Reactive</a>
                </li>
                
            </ul>
           
        </div>
    </nav>
    
</body>
</html>
