
table{
	border-collapse:no collapse;
    text-align: center;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/23/09/43/violet-flowers-2091643_960_720.jpg"); 
	background-position:center;
    background-size: cover; 
    color: white;
}
.table:hover{
    background-image: url("https://cdn.pixabay.com/photo/2016/12/05/19/43/pill-1884775_960_720.jpg");
    color:black;
}
.container-fluid{
    height: 100%;
}
.h-100{
    height: -webkit-fill-available !important;
}
.img{
    /* background: url('https://media.giphy.com/media/VJ3rekbGwH0Zi/giphy.gif'); */
    background-size: cover;
    background-repeat: no-repeat;
}
.appointment{
    margin-top: 100px;
    padding-left:160px;
}
.card{
    background-color: rgba(0,0,0,0);
    border: none;
}
.container{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/09/15/27/dna-1811955_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
thead{
    background-color:black;
    color: white ;
}